<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- AdminLTE CSS -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        @Html.Partial("_Navbar")

        <!-- Main Sidebar Container -->
        @Html.Partial("_Sidebar")

        <!-- Content Wrapper -->
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid pt-3">
                    @RenderBody()
                </div>
            </section>
        </div>

        <!-- Footer -->
        @Html.Partial("_Footer")

    </div>

    <!-- AdminLTE Scripts -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
